@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.add-button {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0 20px 90vw;
  width: 50px;
  height: 50px;
}

.mat-mini-fab.mat-primary[_ngcontent-c1] {
  background-color: #ebebf3;;
  color: #333;
}

.add-button:hover {
  font-size: 45px;
}

.modal-chart-choose {
  margin: 10px auto;
  width: 700px;
  position: fixed;
  top: 100px;
  left: -1000px;
  z-index: 10;
  transition: left 0.5s;
}

.modalVisible {
  left: calc(50vw - 350px);
}


.modal-chart-title {
  padding-left: 20px;
}

gridster {
  background-color: #ebebf3;
}

gridster-item {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.container {
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ebebf3;
}

.content {
  position: relative;
  padding: 15px 0;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.content button {
  margin-top: 40px;
  margin-left: calc(50% - 44px);
}

.single-chart {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: 20px 2%;
  user-select: none;
}

.header {
  background-color: #f8f9fd;
  line-height: 36px;
  height: 41px;
  text-align: center;
  border-bottom: 1px solid #ebebf3;
  padding-top: 8px;
  margin: -8px -8px 8px -8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

.metrics-toolbar {
  text-align: right;
  padding: 20px;
  color: #706c8c;
  font-size: 1.1rem;
}

.metrics-toolbar span {
  cursor: pointer;
  padding: 0 2px 4px 2px;
  margin: 8px 0;
  position: relative;
}

.metrics-toolbar ::after {
   content: '';
   width: 0;
   position: absolute;
   bottom: 0;
   transition: all .1s ease-in-out;
   border-bottom: 1px solid #706c8c;
   left: 50%;
}

.metrics-toolbar span:hover ::after {
   width: 100%;
   left: 0;
}

i {
  padding-left: 8px;
}

@media (max-width: 959px) {
  .modal-chart-choose {
    width: 400px;
  }

  .modalVisible {
    left: calc(50vw - 200px);
  }
}
